@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 102%;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary-1: #121212 /* Primary/Black */;
  --color-primary-gold: #d7ad61 /* Primary/Gold */;
  --color-primary-gold-dark: #6b4a0f
    /* Darker gold for contrast on light backgrounds (WCAG AA) */;
  --color-primary-gold-05: #fdfbf7 /* Primary/Gold */;
  --color-primary-gold-10: #fbf7ef /* Primary/Gold */;
  --color-primary-gold-20: #f7efdf /* Primary/Gold */;
  --color-primary-gold-30: #f3e6d0 /* Primary/Gold */;
  --color-primary-gold-40: #efdec0 /* Primary/Gold */;
  --color-secondary-1: #40404080 /* Primary/2 */;
  --color-primary-text: #e5e5e5 /* Primary/Text/Gray */;
  --color-secondary-text: #4e4d52 /* Primary/Text/Secondary */;
  --color-grey-text-10: #e8e8e8 /* Primary/Text/Gray */;
  --color-grey-text-20: #d2d2d2 /* Primary/Text/Gray */;
  --color-grey-text-30: #bbbbbb /* Primary/Text/Gray */;
  --color-dark-grey: #454a57 /* Dark Grey */;
}

@layer base {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", system-ui, sans-serif;
  }

  h1 {
    font-size: 2rem; /* Mobile first */
    font-weight: 700;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
  }
  /* Tablet (≥768px) */
  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }

  /* Desktop (≥1024px) */
  @media (min-width: 1024px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3.75rem;
    }
  }
}

.glass-box {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0px 3px 6px rgba(0, 0, 0, 0.08),
    0px 11px 11px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari support */
}
